name: test
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
permissions:
  contents: read
jobs:
  test-action:
    name: Actions Test / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ${{ vars.RUNNER_ARM64 }}
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6
      - name: Test Local Action
        id: test-action
        uses: ./
      - name: Print Output
        id: output
        shell: bash
        run: |
          echo "${{ steps.test-action.outputs.config }}" | jq .
          packages="${{ fromJSON(steps.test-action.outputs.config).global.packages.Linux }}"
          echo $packages
          # pages="${{ fromJSON(steps.test-action.outputs.config).pages.mdbook.if }}"

          # if [ "$pages" != "false" ]; then
          #   echo "pages should be false"
          #   exit 1
          # fi
