name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  release:
    runs-on: ${{ vars.RUNNER }}
    steps:
      - uses: actions/checkout@v6

      - name: Get version
        id: version
        run: echo "tag=$(jq -r .version package.json)" >> $GITHUB_OUTPUT

      - uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.version.outputs.tag }}
          generate_release_notes: true
