permissions:
  contents: read
on:
  workflow_call:
    inputs:
      ubuntu_packages:
        type: string
        required: false
        default: ''
      runner:
        type: string
        required: true
      fireblocks:
        type: boolean
        default: false
        required: false
      rustlog:
        type: string
        default: 'info'
        required: false
      enabled:
        type: boolean
        default: false
        required: false
      args:
        type: string
        default: ''
        required: false

env:
  MEMO: '${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }} ${{ github.job }}'
  JOB_URL: '${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}'
  RUST_LOG: "${{ inputs.rustlog || 'info' }}"
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
name: safety
jobs:
  sanitizers:
    if: ${{ inputs.enabled }}
    runs-on: ${{ inputs.runner }}
    steps:
      - name: Init
        uses: carteramesh/ci/.github/actions/rust-init@main
        with:
          ubuntu_packages: ${{ inputs.ubuntu_packages }}
      - name: fireblocks
        uses: carteramesh/fireblocks-config-action@main
        if: ${{ inputs.fireblocks }}
        with:
          fireblocks-secret: |
            ${{ secrets.FIREBLOCKS_SECRET }}
          fireblocks-api-key: ${{ secrets.FIREBLOCKS_API_KEY }}
          fireblocks-endpoint: ${{ vars.FIREBLOCKS_ENDPOINT }}
          solana-rpc-url: ${{ secrets.RPC_URL }}
          commitment: 'finalized'
      - run: |
          rustup default nightly
          # to get the symbolizer for debug symbol resolution
          sudo apt install llvm
          # to fix buggy leak analyzer:
          # https://github.com/japaric/rust-san#unrealiable-leaksanitizer
          # ensure there's a profile.dev section
          if ! grep -qE '^[ \t]*[profile.dev]' Cargo.toml; then
              echo >> Cargo.toml
              echo '[profile.dev]' >> Cargo.toml
          fi
          # remove pre-existing opt-levels in profile.dev
          sed -i '/^\s*\[profile.dev\]/,/^\s*\[/ {/^\s*opt-level/d}' Cargo.toml
          # now set opt-level to 1
          sed -i '/^\s*\[profile.dev\]/a opt-level = 1' Cargo.toml
        name: Enable debug symbols
      - name: cargo test -Zsanitizer=address
        # only --lib --tests b/c of https://github.com/rust-lang/rust/issues/53945
        run: |
          cargo test --lib --tests --no-fail-fast --target x86_64-unknown-linux-gnu -- --no-capture
        env:
          ASAN_OPTIONS: 'detect_odr_violation=0:detect_leaks=0'
          RUSTFLAGS: '-Z sanitizer=address'
      - name: cargo test -Zsanitizer=leak
        run: |
          cargo test --target x86_64-unknown-linux-gnu  -- --no-capture
        env:
          LSAN_OPTIONS: 'suppressions=lsan-suppressions.txt'
          RUSTFLAGS: '-Z sanitizer=leak'
      - name: cargo test -Zsanitizer=thread
        run: cargo test --target x86_64-unknown-linux-gnu -- --test-threads=1
        env:
          RUSTFLAGS: '-Z sanitizer=thread'
