name: Release
on:
  workflow_call:
    inputs:
      version:
        type: string
        required: true
      package:
        type: string
        required: true
      cargo-release-args:
        type: string
        required: false
        default: ''
    outputs:
      tag:
        description: The release tag
        value: ${{ jobs.release.outputs.tag }}
jobs:
  config:
    runs-on: ${{ vars.RUNNER }}
    name: generate config
    outputs:
      config: ${{ steps.config.outputs.config }}
    steps:
      - name: config
        id: config
        uses: kiro-generator/ci/.github/actions/rust-config@main
        with:
          arm64: ${{ vars.RUNNER_ARM64 }}
          amd64: ${{ vars.RUNNER_AMD64 }}
          git_token: ${{ github.token }}

  release:
    needs: [config]
    outputs:
      tag: ${{ steps.release.outputs.tag }}
      bin: ${{ steps.release.outputs.bin }}
    runs-on: ${{ vars.RUNNER }}
    permissions:
      contents: write
    steps:
      - name: Init
        uses: kiro-generator/ci/.github/actions/rust-init@main
      - name: Install cargo-release
        uses: taiki-e/cache-cargo-install-action@v3
        with:
          tool: cargo-release
      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
      - name: Release
        id: release
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NO_PUBLISH: ${{ fromJSON(needs.config.outputs.config).release.cargoPublish && '' || '--no-publish' }}
        run: |
          cargo release \
            --package ${{ inputs.package }} \
            --execute \
            --no-confirm ${NO_PUBLISH} \
            ${{ inputs.cargo-release-args }} ${{ inputs.version }}

          TAG=$(git describe --tags --abbrev=0)
          echo "tag=$TAG" >> $GITHUB_OUTPUT
          case ${{ inputs.version }} in
            alpha|beta|rc)
              echo "make_latest=false" >> $GITHUB_OUTPUT
              echo "prerelease=true" >> $GITHUB_OUTPUT
              ;;
            *)
              echo "make_latest=true" >> $GITHUB_OUTPUT
              echo "prerelease=false" >> $GITHUB_OUTPUT
              ;;
          esac

          echo "bin=${{ fromJSON(needs.config.outputs.config).release.bin.name }}" >> $GITHUB_OUTPUT
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.release.outputs.tag }}
          generate_release_notes: true
          make_latest: ${{ steps.release.outputs.make_latest }}
          prerelease: ${{ steps.release.outputs.prerelease == 'true' }}

  linux-arm64:
    name: Linux ARM64
    if: needs.release.outputs.bin && fromJSON(needs.config.outputs.config).release.bin.linux.arm64
    needs: [config, release]
    runs-on: ${{ vars.RUNNER_ARM64 }}
    env:
      BIN:  ${{ needs.release.outputs.bin }}
    permissions:
      contents: write
    steps:
      - name: Init
        uses: kiro-generator/ci/.github/actions/rust-init@main
        with:
          ref: ${{ needs.release.outputs.tag }}
      - name: Build
        run: cargo build --release --target aarch64-unknown-linux-gnu
      - name: Package
        env:
          BIN: target/aarch64-unknown-linux-gnu/release/${{ needs.release.outputs.bin }}
        run: |
          tar czf ${BIN}-arm64-linux.tar.gz ${BIN}
          sha256sum ${BIN}-arm64-linux.tar.gz > ${BIN}-arm64-linux.tar.gz.sha256
      - name: Upload
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.release.outputs.tag }}
          files: |
            target/aarch64-unknown-linux-gnu/release/${{ needs.release.outputs.bin }}-arm64-linux.tar.gz
            target/aarch64-unknown-linux-gnu/release/${{ needs.release.outputs.bin }}-arm64-linux.tar.gz.sha256

  linux-amd64:
    name: Linux AMD64
    needs: [config, release]
    if: needs.release.outputs.bin && fromJSON(needs.config.outputs.config).release.bin.linux.amd64
    runs-on: ${{ vars.RUNNER_AMD64 }}
    env:
      BIN: ${{ needs.release.outputs.bin }}
    permissions:
      contents: write
    steps:
      - name: Init
        uses: kiro-generator/ci/.github/actions/rust-init@main
        with:
          ref: ${{ needs.release.outputs.tag }}
      - name: Build
        run: cargo build --release --target x86_64-unknown-linux-gnu
      - name: Package
        env:
          BIN: target/x86_64-unknown-linux-gnu/release/${{ needs.release.outputs.bin }}
        run: |
          tar czf ${BIN}-amd64-linux.tar.gz ${BIN}
          sha256sum ${BIN}-amd64-linux.tar.gz > ${BIN}-amd64-linux.tar.gz.sha256
      - name: Upload
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.release.outputs.tag }}
          files: |
            target/x86_64-unknown-linux-gnu/release/${{ needs.release.outputs.bin }}-amd64-linux.tar.gz
            target/x86_64-unknown-linux-gnu/release/${{ needs.release.outputs.bin }}-amd64-linux.tar.gz.sha256

  mac-arm:
    name: macOS ARM64
    if: needs.release.outputs.bin != '' && fromJSON(needs.config.outputs.config).release.bin.mac
    needs: [config, release]
    runs-on: macos-latest
    permissions:
      contents: write
    env:
      BIN_NAME: ${{ needs.release.output.bin }}
    steps:
      - name: Init
        uses: kiro-generator/ci/.github/actions/rust-init@main
        with:
          ref: ${{ needs.release.outputs.tag }}
      - name: Build
        run: cargo build --release --target aarch64-apple-darwin
      - name: Package
        env:
          BIN: target/aarch64-apple-darwin/release/${{ needs.release.outputs.bin }}
        run: |
          tar czf ${BIN}-arm64-darwin.tar.gz ${BIN}
          shasum -a 256 ${BIN}-arm64-darwin.tar.gz > ${BIN}-arm64-darwin.tar.gz.sha256
      - name: Upload
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.release.outputs.tag }}
          files: |
            target/aarch64-apple-darwin/release/${{ needs.release.outputs.bin }}-arm64-darwin.tar.gz
            target/aarch64-apple-darwin/release/${{ needs.release.outputs.bin }}-arm64-darwin.tar.gz.sha256

  windows:
    name: Windows AMD64
    if: false
    needs: [config, release]
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Init
        uses: kiro-generator/ci/.github/actions/rust-init@main
        with:
          ref: ${{ needs.release.outputs.tag }}
      - name: Build
        run: cargo build --release --target x86_64-pc-windows-msvc
      - name: Package
        shell: bash
        env:
          BIN: target/x86_64-pc-windows-msvc/release/${{ needs.release.outputs.bin }}.exe
        run: |
          tar czf ${BIN}-x86_64-pc-windows-msvc.tar.gz ${BIN}
          sha256sum ${BIN}-x86_64-pc-windows-msvc.tar.gz > ${BIN}-x86_64-pc-windows-msvc.tar.gz.sha256
      - name: Upload
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.release.outputs.tag }}
          files: |
            target/x86_64-pc-windows-msvc/release/${{ needs.release.outputs.bin }}.exe-x86_64-pc-windows-msvc.tar.gz
            target/x86_64-pc-windows-msvc/release/${{ needs.release.outputs.bin }}.exe-x86_64-pc-windows-msvc.tar.gz.sha256

  debian:
    name: Debian / ${{ matrix.arch }}
    if: ${{ fromJSON(needs.config.outputs.config).release.debian }}
    needs: [config, release]
    strategy:
      matrix:
        include:
          - arch: arm64
            target: aarch64-unknown-linux-gnu
            runner: ${{ vars.RUNNER_ARM64 }}
          - arch: amd64
            target: x86_64-unknown-linux-gnu
            runner: ${{ vars.RUNNER_AMD64 }}
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: write
    steps:
      - name: Init
        uses: kiro-generator/ci/.github/actions/rust-init@main
        with:
          ref: ${{ needs.release.outputs.tag }}
      - name: Install cargo-deb
        uses: taiki-e/cache-cargo-install-action@v3
        with:
          tool: cargo-deb
      - name: Build deb
        id: deb
        run: |
          cargo deb --target ${{ matrix.target }}
          DEB=$(ls target/${{ matrix.target }}/debian/*.deb)
          echo "deb=$DEB" >> $GITHUB_OUTPUT
          sha256sum $DEB > ${DEB}.sha256
      - name: Upload
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.release.outputs.tag }}
          files: |
            ${{ steps.deb.outputs.deb }}
            ${{ steps.deb.outputs.deb }}.sha256

