permissions:
  contents: read
on:
  workflow_call:
    inputs:
      ubuntu_packages:
        type: string
        required: false
        default: ""
      runner:
        type: string
        required: true
      fireblocks:
        type: boolean
        default: false
        required: false
      rustlog:
        type: string
        default: "info"
        required: false
      enabled:
        type: boolean
        default: false
        required: false

env:
  MEMO: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }} ${{ github.job }}"
  JOB_URL: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
  RUST_LOG: "${{ inputs.rustlog || 'info' }}"
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
name: safety
jobs:
  sanitizers:
    if: ${{ inputs.enabled }}
    runs-on: ${{ inputs.runner }}
    steps:
      - name: Init
        uses: carteramesh/ci/.github/actions/rust-init@main
        with:
          ubuntu_packages: ${{ inputs.ubuntu_packages }}
      - run: |
          rustup default nightly
          # to get the symbolizer for debug symbol resolution
          sudo apt install llvm
          # to fix buggy leak analyzer:
          # https://github.com/japaric/rust-san#unrealiable-leaksanitizer
          # ensure there's a profile.dev section
          if ! grep -qE '^[ \t]*[profile.dev]' Cargo.toml; then
              echo >> Cargo.toml
              echo '[profile.dev]' >> Cargo.toml
          fi
          # remove pre-existing opt-levels in profile.dev
          sed -i '/^\s*\[profile.dev\]/,/^\s*\[/ {/^\s*opt-level/d}' Cargo.toml
          # now set opt-level to 1
          sed -i '/^\s*\[profile.dev\]/a opt-level = 1' Cargo.toml
          cat Cargo.toml
        name: Enable debug symbols
      - name: cargo test -Zsanitizer=address
        # only --lib --tests b/c of https://github.com/rust-lang/rust/issues/53945
        run: cargo test --lib --tests --no-fail-fast --target x86_64-unknown-linux-gnu -- --no-capture
        env:
          ASAN_OPTIONS: "detect_odr_violation=0:detect_leaks=0"
          RUSTFLAGS: "-Z sanitizer=address"
          RPC_URL: ${{ inputs.fireblocks && secrets.RPC_URL }}
          FIREBLOCKS_API_KEY: ${{ inputs.fireblocks && secrets.FIREBLOCKS_API_KEY }}
          FIREBLOCKS_SECRET: ${{ inputs.fireblocks && secrets.FIREBLOCKS_SECRET }}
          FIREBLOCKS_ENDPOINT: ${{ inputs.fireblocks && vars.FIREBLOCKS_ENDPOINT }}
          FIREBLOCKS_POLL_TIMEOUT: "90"
          FIREBLOCKS_POLL_INTERVAL: "5"
          FIREBLOCKS_DEVNET: "true"
          FIREBLOCKS_VAULT: "0"
          TEST_PRIVATE_KEY: ${{ inputs.fireblocks && secrets.TEST_PRIVATE_KEY }}
      - name: cargo test -Zsanitizer=leak
        if: always()
        run: cargo test --target x86_64-unknown-linux-gnu
        env:
          LSAN_OPTIONS: "suppressions=lsan-suppressions.txt"
          RUSTFLAGS: "-Z sanitizer=leak"
          RUST_LOG: "${{ inputs.rustlog }}"
          RPC_URL: ${{ inputs.fireblocks && secrets.RPC_URL }}
          FIREBLOCKS_API_KEY: ${{ inputs.fireblocks && secrets.FIREBLOCKS_API_KEY }}
          FIREBLOCKS_SECRET: ${{ inputs.fireblocks && secrets.FIREBLOCKS_SECRET }}
          FIREBLOCKS_ENDPOINT: ${{ inputs.fireblocks && vars.FIREBLOCKS_ENDPOINT }}
          FIREBLOCKS_POLL_TIMEOUT: "90"
          FIREBLOCKS_POLL_INTERVAL: "5"
          FIREBLOCKS_DEVNET: "true"
          FIREBLOCKS_VAULT: "0"
          TEST_PRIVATE_KEY: ${{ inputs.fireblocks && secrets.TEST_PRIVATE_KEY }}
